{% extends "layout.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<br>
<div class="container">
  <div class="row">

    <!-- <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Cadastro de Usuário</h5>
          <p class="card-text">Usuários permitidos a logar no sistema e realizar operações.</p>
          <a href="/usuario-novo" class="btn btn-primary">Novo usuário </a>
        </div>
      </div>
    </div> -->

<br>
<div class="container3">
  <div class="row">
    <div class="col-sm d-flex justify-content-center align-items-center">
      <div class="card bg-white" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Cadastro de Paciente</h5>
          <p class="card-text">Pacientes que usufruem dos serviços da clínica.</p>
          <a href="/paciente-consulta" class="btn btn-success custom-btn">Consultar</a>
        </div>
      </div>
    </div>
  </div>
</div>

    <!-- <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Cadastro de Colaborador</h5>
          <p class="card-text">Recursos do quadro de funcionários da empresa.</p>
          <a href="/colaborador-novo" class="btn btn-primary">Novo colaborador</a>
        </div>
      </div>
    </div> -->

</div>
{% endblock %}
